In [53]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

In [54]:
#Read data
data = pd.read_excel('data.xlsx',sheet_name='PS19A_PERSON__SmplR10K')

In [55]:
#Shape the data
data.shape

(1004, 31)

In [109]:
#Brief overview of 5 rows
data.head(5)

,person_id,person_name,person_address,cln1,cln2,cln3,person_ctry_code,cnt,chr_len,chr_len_label,...,street,nr,area,postal,city,region,country,unclear,status,label
0,3540.0,PURAC Biochem BV,"Arkelsedijk 46,4206 AC Gorinchem",Arkelsedijk 46 4206 AC Gorinchem,46 4206,46,NL,1,32.0,2.0,...,113,176,1,150,207,3,1,NaN,NaN,1.0
1,28753.0,"Tinti, Maria Ornella",SIGMA-TAU Industrie Farmaceutiche Riunite S.p....,SIGMA-TAU Industrie Farmaceutiche Riunite S.p....,30 400 00040,30,IT,1,86.0,1.0,...,398,265,1,142,481,3,1,NaN,NaN,1.0
2,35108.0,"Isobe, Shin-ichi, c/o Int. Prop. Dpt., NTT DoC...","Sanno Park Tower, 11-1, Nagatacho 2-chome,Chiy...",Sanno Park Tower 11-1 Nagatacho 2-chome Chiyod...,111 2,11-,JP,1,59.0,1.0,...,279,3,37,5,606,3,1,NaN,NaN,1.0
3,89830.0,"Hata, Yoshiki","c/o Hitachi Appliances, Inc. 390 Muramatsu, Sh...",c/o Hitachi Appliances Inc. 390 Muramatsu Shim...,390 4240926,390,JP,1,90.0,1.0,...,18,3,192,151,1,91,1,NaN,NaN,0.0
4,94063.0,"Kim, Se-Jong","Legal & IP Team, Samsung SDI Co., Ltd., 428-5,...",Legal & IP Team Samsung SDI Co. Ltd. 428-5 Gon...,4285,428-,KR,1,92.0,1.0,...,85,3,73,5,220,3,1,NaN,NaN,1.0

In [110]:
#Fill all empty values with 0
data['country'] = data['country'].fillna(0)
data['city'] = data['city'].fillna(0)
data['region'] = data['region'].fillna(0)
data['postal'] = data['postal'].fillna(0)
data['area'] = data['area'].fillna(0)
data['street'] = data['street'].fillna(0)
data['co'] = data['co'].fillna(0)
data['building'] = data['building'].fillna(0)
data['nr'] = data['nr'].fillna(0)

In [111]:
#Brief overview of first 5 rows
data.head(5)

,person_id,person_name,person_address,cln1,cln2,cln3,person_ctry_code,cnt,chr_len,chr_len_label,...,street,nr,area,postal,city,region,country,unclear,status,label
0,3540.0,PURAC Biochem BV,"Arkelsedijk 46,4206 AC Gorinchem",Arkelsedijk 46 4206 AC Gorinchem,46 4206,46,NL,1,32.0,2.0,...,113,176,1,150,207,3,1,NaN,NaN,1.0
1,28753.0,"Tinti, Maria Ornella",SIGMA-TAU Industrie Farmaceutiche Riunite S.p....,SIGMA-TAU Industrie Farmaceutiche Riunite S.p....,30 400 00040,30,IT,1,86.0,1.0,...,398,265,1,142,481,3,1,NaN,NaN,1.0
2,35108.0,"Isobe, Shin-ichi, c/o Int. Prop. Dpt., NTT DoC...","Sanno Park Tower, 11-1, Nagatacho 2-chome,Chiy...",Sanno Park Tower 11-1 Nagatacho 2-chome Chiyod...,111 2,11-,JP,1,59.0,1.0,...,279,3,37,5,606,3,1,NaN,NaN,1.0
3,89830.0,"Hata, Yoshiki","c/o Hitachi Appliances, Inc. 390 Muramatsu, Sh...",c/o Hitachi Appliances Inc. 390 Muramatsu Shim...,390 4240926,390,JP,1,90.0,1.0,...,18,3,192,151,1,91,1,NaN,NaN,0.0
4,94063.0,"Kim, Se-Jong","Legal & IP Team, Samsung SDI Co., Ltd., 428-5,...",Legal & IP Team Samsung SDI Co. Ltd. 428-5 Gon...,4285,428-,KR,1,92.0,1.0,...,85,3,73,5,220,3,1,NaN,NaN,1.0

In [112]:
from sklearn.preprocessing import LabelEncoder
l3 = LabelEncoder()

#make the columns as string and encode it to a numeric
country = l3.fit_transform(data['country'].astype(str))
city = l3.fit_transform(data['city'].astype(str))
region = l3.fit_transform(data['region'].astype(str))
postal = l3.fit_transform(data['postal'].astype(str))
area = l3.fit_transform(data['area'].astype(str))
street = l3.fit_transform(data['street'].astype(str))
co = l3.fit_transform(data['co'].astype(str))
building = l3.fit_transform(data['building'].astype(str))
nr = l3.fit_transform(data['nr'].astype(str))

In [113]:
#Replace originalcolumns witht the numeric columns
data['city'] = city
data['country'] = country
data['region'] = region
data['postal'] = postal
data['area'] = area
data['street'] = street
data['co'] = co
data['building'] = building
data['nr'] = nr

In [114]:
#Brief overview of first 50
data.head(50)

,person_id,person_name,person_address,cln1,cln2,cln3,person_ctry_code,cnt,chr_len,chr_len_label,...,street,nr,area,postal,city,region,country,unclear,status,label
0,3540.0,PURAC Biochem BV,"Arkelsedijk 46,4206 AC Gorinchem",Arkelsedijk 46 4206 AC Gorinchem,46 4206,46,NL,1,32.0,2.0,...,17,86,1,58,121,89,1,NaN,NaN,1.0
1,28753.0,"Tinti, Maria Ornella",SIGMA-TAU Industrie Farmaceutiche Riunite S.p....,SIGMA-TAU Industrie Farmaceutiche Riunite S.p....,30 400 00040,30,IT,1,86.0,1.0,...,332,185,1,49,425,89,1,NaN,NaN,1.0
2,35108.0,"Isobe, Shin-ichi, c/o Int. Prop. Dpt., NTT DoC...","Sanno Park Tower, 11-1, Nagatacho 2-chome,Chiy...",Sanno Park Tower 11-1 Nagatacho 2-chome Chiyod...,111 2,11-,JP,1,59.0,1.0,...,200,190,177,364,564,89,1,NaN,NaN,1.0
3,89830.0,"Hata, Yoshiki","c/o Hitachi Appliances, Inc. 390 Muramatsu, Sh...",c/o Hitachi Appliances Inc. 390 Muramatsu Shim...,390 4240926,390,JP,1,90.0,1.0,...,90,190,104,59,1,157,1,NaN,NaN,0.0
4,94063.0,"Kim, Se-Jong","Legal & IP Team, Samsung SDI Co., Ltd., 428-5,...",Legal & IP Team Samsung SDI Co. Ltd. 428-5 Gon...,4285,428-,KR,1,92.0,1.0,...,446,190,217,364,136,89,1,NaN,NaN,1.0
5,107464.0,"Heldt, Ronald","Pappelweg 9,15809 Gross Machnow",Pappelweg 9 15809 Gross Machnow,9 15809,9,DE,1,31.0,2.0,...,233,160,1,391,131,89,1,NaN,NaN,1.0
6,108991.0,"Koo, Bon Seok","1 Gwihyun-dong, Changwon,Kyungsangnam-do",1 Gwihyun-dong Changwon Kyungsangnam-do,1,1,KR,1,40.0,1.0,...,102,201,1,364,7,135,1,NaN,NaN,1.0
7,118819.0,"Sakamura, Ken, Intellectual Property Department","NTT DoCoMo, Inc., Sanno Park Tower, 11-1, Naga...",NTT DoCoMo Inc. Sanno Park Tower 11-1 Nagata- ...,111 2 1006150,11-,JP,1,89.0,1.0,...,90,190,156,224,564,89,1,NaN,NaN,0.0
8,125227.0,"BUB, GÃ¼nther","Kampstrasse 97,45772 Marl",Kampstrasse 97 45772 Marl,97 45772,97,DE,1,25.0,2.0,...,144,166,1,75,299,89,1,NaN,NaN,1.0
9,129328.0,"AZPIROZ, Fernando","Paseo San Gervasio 32,08022 Barcelona",Paseo San Gervasio 32 08022 Barcelona,32 08022,32,ES,1,37.0,1.0,...,237,51,1,179,357,89,1,NaN,NaN,1.0
10,132644.0,"Hutchins, Thomas Goodsell","11937 Basswood Avenue,Uniontown, OH 44685",11937 Basswood Avenue Uniontown OH 44685,11937 44685,NaN,US,1,41.0,1.0,...,33,196,1,70,578,11,1,NaN,NaN,1.0
11,134321.0,"Lindahl, Gery","8200 116 Avenue S.E.,NewCastle, Washington 98056",8200 116 Avenue S.E. NewCastle Washington 98056,8200 116 98056,116,US,1,48.0,1.0,...,257,151,1,251,369,65,1,NaN,NaN,1.0
12,138243.0,"REBHOLZ, Uwe","Ludwigstr. 73,67678 Mehlingen",Ludwigstr. 73 67678 Mehlingen,73 67678,73,DE,1,29.0,2.0,...,176,133,1,161,309,89,1,NaN,NaN,1.0
13,151094.0,"Hale, William D.","1800 Mill Creek Road, No. 14-B, Mill-Creek,Was...",1800 Mill Creek Road No. 14-B Mill-Creek Washi...,1800 14 98012,14-,US,1,59.0,1.0,...,188,248,1,249,316,65,1,NaN,NaN,1.0
14,151336.0,"MADHANI, Akhil, J.","Apartment 77 1245 East California Avenue,Glend...",Apartment 77 1245 East California Avenue Glend...,77 1245 91206,77,US,1,59.0,1.0,...,74,204,1,217,119,83,1,NaN,NaN,1.0
15,164645.0,Intek Technology LLC,"2711 Centerville Road 400,Wilmington, DE 19808",2711 Centerville Road 400 Wilmington DE 19808,2711 400 19808,400,US,1,46.0,1.0,...,54,72,1,404,625,94,1,2711,NaN,1.0
16,178496.0,"WOLFE, David, M.","409 Seville Drive,Red Lion, PA 17356",409 Seville Drive Red Lion PA 17356,409 17356,409,US,1,36.0,1.0,...,46,73,1,394,443,22,1,NaN,NaN,1.0
17,184244.0,"Couvreur, JÃ©rÃ´me","234 Route de Sesigny,74350 Cruseilles",234 Route de Sesigny 74350 Cruseilles,234 74350,234,FR,1,37.0,1.0,...,269,21,1,174,34,89,1,NaN,NaN,1.0
18,200863.0,"SONNECK, Rainer","Ottweilerstr. 12,51375 Leverkusen",Ottweilerstr. 12 51375 Leverkusen,12 51375,12,DE,1,33.0,2.0,...,221,197,1,96,266,89,1,NaN,NaN,1.0
19,207549.0,ECPE Engineering Center for Power Electronics ...,"Landgrabenstrasse 94,90443 NÃ¼rnberg",Landgrabenstrasse 94 90443 NÃ¼rnberg,94 90443,94,DE,1,35.0,2.0,...,160,164,1,213,382,89,1,NaN,NaN,1.0
20,208665.0,"HEIDARI-BATENI, Ghobad","13886 Camino Del Suleo,San Diego, CA 92129",13886 Camino Del Suleo San Diego CA 92129,13886 92129,NaN,US,1,42.0,1.0,...,51,215,1,227,470,83,1,NaN,NaN,1.0
21,217975.0,"Kimijima, Tadaaki","c/o Sony Corporation 1-7-1 Konan Minato-ku,Tokyo",c/o Sony Corporation 1-7-1 Konan Minato-ku Tokyo,171,1-,JP,1,48.0,1.0,...,168,190,4,364,564,89,1,NaN,NaN,1.0
22,227620.0,"Takeda, Yuji Yokkaichi Plant of Mitsubishi","Gas Chemical Company, Inc., 4-16-2, Hinagahiga...",Gas Chemical Company Inc. 4-16-2 Hinagahigashi...,4162 5100886,4-,JP,1,76.0,1.0,...,90,190,228,364,632,100,1,NaN,NaN,0.0
23,300146.0,"INOUE, Mitsuo, MITSUBISHI DENKI KABUSHIKI KAISHA","2-3, Marunouchi 2-chome, Chiyoda-ku,Tokyo 100-...",2-3 Marunouchi 2-chome Chiyoda-ku Tokyo 100-8310,23 2 1008310,2-,JP,1,50.0,1.0,...,90,259,177,246,564,89,1,NaN,NaN,0.0
24,310402.0,"Decorte, Lieven","Kleine Stadenstraat 97c,8830 Hooglede/Gits",Kleine Stadenstraat 97c 8830 Hooglede/Gits,97 8830,97c,BE,1,42.0,1.0,...,373,169,1,210,175,89,1,NaN,NaN,1.0
25,334421.0,"Masutani, Akira, Sony International (Europe) GmbH","Heinrich-Hertz-Strasse 1,70327 Stuttgart",Heinrich-Hertz-Strasse 1 70327 Stuttgart,1 70327,1,DE,1,40.0,1.0,...,117,201,1,165,522,89,1,NaN,NaN,1.0
26,336711.0,"SCHWARTZMAN, Joel","11 Hamitzpe Street, P.O. Box 4467,Shoham 73142",11 Hamitzpe Street P.O. Box 4467 Shoham 73142,11 4467 73142,11,IL,1,46.0,1.0,...,106,168,1,172,500,89,1,NaN,NaN,1.0
27,406106.0,"BENNETT, Ronald Wilfred Murdoch","10, rue Saint-Jean,CH-1260 Nyon",10 rue Saint-Jean CH-1260 Nyon,10 1260,10,CH,1,31.0,2.0,...,386,245,1,261,381,89,1,NaN,NaN,1.0
28,433088.0,"DiSilvestro, Mark R.","238 S Eagle Glen Trail,Columbia City, IN 46725",238 S Eagle Glen Trail Columbia City IN 46725,238 46725,238,US,1,46.0,1.0,...,278,23,1,80,29,120,1,NaN,NaN,1.0
29,433394.0,The Engineering Business Limited,"Broomhaugh House Riding Mill,Northumberland NE...",Broomhaugh House Riding Mill Northumberland NE...,44 6,E44,GB,1,52.0,1.0,...,90,190,1,341,453,10,1,NaN,NaN,0.0
30,452780.0,"GOULDIE, Timothy, C.","1708 Bluff Court,Garden City, KS 67846",1708 Bluff Court Garden City KS 67846,1708 67846,NaN,US,1,38.0,1.0,...,41,238,1,162,110,124,1,NaN,NaN,1.0
31,455672.0,"KUMARAN, Govindaraj","1 Kimball Court, 504,Woburn, MA 01801",1 Kimball Court 504 Woburn MA 01801,1 504 01801,1,US,1,37.0,1.0,...,90,100,162,13,112,137,1,NaN,NaN,0.0
32,466548.0,"LEE, Jin-Young","183-2, 5/5 Bokcheon-dong Dongrae-gu,Busan 607-020",183-2 5/5 Bokcheon-dong Dongrae-gu Busan 607-020,1832 55 607020,183-,KR,1,49.0,1.0,...,368,112,135,143,53,82,6,NaN,NaN,1.0
33,485306.0,"LEE, Eun, Seog",21-1102 Sampoong Apt. 1685 Seocho-dong Seocho-...,21-1102 Sampoong Apt. 1685 Seocho-dong Seocho-...,211102 1685 137070,21-,KR,1,62.0,1.0,...,295,233,98,377,491,89,1,NaN,NaN,1.0
34,495995.0,"Ishihara, Yusuke, c/Fuji Photo Film Co., Ltd.","2-12-1 Oogi-cho, Odawara-shi,Kanagawa-ken",2-12-1 Oogi-cho Odawara-shi Kanagawa-ken,2121,2-,JP,1,41.0,1.0,...,405,190,1,364,387,127,1,NaN,NaN,1.0
35,506283.0,"Woo, Sang-Hyun","Samsung Electronics Co., Ltd. 416, Maetan-dong...",Samsung Electronics Co. Ltd. 416 Maetan-dong Y...,416,416,KR,1,80.0,1.0,...,445,190,21,364,529,109,1,NaN,NaN,1.0
36,516598.0,"Tosaka, Akio c/o Chiba Works","Kawasaki Steel Corporation 1, Kawasakicho Chuo...",Kawasaki Steel Corporation 1 Kawasakicho Chuo-...,1 2600835,1,JP,1,75.0,1.0,...,90,201,240,1,11,89,1,NaN,NaN,0.0
37,518781.0,"Kanamori, Kenji","1-27, Hirakata-cho Kanazawa-ku,Yokohama-shi Ka...",1-27 Hirakata-cho Kanazawa-ku Yokohama-shi Kan...,127 2360023,1-,JP,1,61.0,1.0,...,146,190,238,7,217,73,1,NaN,NaN,1.0
38,531009.0,"Nagasawa, Keiichi","Disco Corporation 13-11, Omori-Kita 2-chome Ot...",Disco Corporation 13-11 Omori-Kita 2-chome Ota...,1311 2 1438580,13-,JP,1,65.0,1.0,...,90,190,1,364,112,89,1,NaN,NaN,0.0
39,551894.0,"Haak, Mark P.","81N. Park Avenue,Fond du Lac WI 54935",81N. Park Avenue Fond du Lac WI 54935,81 54935,81N,US,1,37.0,1.0,...,196,149,1,110,92,64,1,NaN,NaN,1.0
40,562157.0,"Tsutsumi, Yoshitaka","14-11, Toyo 5-chome,Kudamatsu-shi, Yamaguchi-ken",14-11 Toyo 5-chome Kudamatsu-shi Yamaguchi-ken,1411 5,14-,JP,1,48.0,1.0,...,317,190,5,364,112,72,1,NaN,NaN,1.0
41,566163.0,"Katagiri, Yoshinobu, c/o FUJI PHOTO FILM CO., ...","210, Nakanuma,Minami-Ashigara-shi, Kanagawa",210 Nakanuma Minami-Ashigara-shi Kanagawa,210,210,JP,1,43.0,1.0,...,420,190,53,364,318,125,1,NaN,NaN,1.0
42,587874.0,"Kitahara, Yasuhisa","21-1-507 Kamiooka-higashi 1-chome,Yokohama cit...",21-1-507 Kamiooka-higashi 1-chome Yokohama cit...,211507 1,21-,JP,1,57.0,1.0,...,419,190,1,364,635,125,1,NaN,NaN,1.0
43,588216.0,"Mitsuaki, Maeda, c/o Kabushiki Kaisha Aiaishi","2000-1 Iwai,Iwata-Shi, Shizuoka-ken",2000-1 Iwai Iwata-Shi Shizuoka-ken,20001,-1,JP,1,35.0,2.0,...,134,263,1,364,199,41,1,NaN,NaN,1.0
44,638811.0,"YOSHIDA, Yasuhiko, c/o BANDO CHEMICAL IND., LTD.","2-15, Meiwadori 3-chome, Hyogo-ku,Kobe-shi, Hy...",2-15 Meiwadori 3-chome Hyogo-ku Kobe-shi Hyogo...,215 3 6520882,2-,JP,1,58.0,1.0,...,406,190,230,153,236,114,1,NaN,NaN,1.0
45,649888.0,"Dent d'Almuano, Rainier","La Priauraz,1807 Blonay, Vaud",La Priauraz 1807 Blonay Vaud,1807,NaN,CH,1,29.0,2.0,...,158,249,1,364,579,60,1,NaN,NaN,1.0
46,660098.0,"KASAI, Yoshiyuki, c/o NGK INSULATORS, LTD.","2-56, Suda-cho, Mizuho-ku,Nagoya-shi, Aichi 46...",2-56 Suda-cho Mizuho-ku Nagoya-shi Aichi 467-8530,256 4678530,2-,JP,1,52.0,1.0,...,412,190,117,78,347,46,1,NaN,NaN,1.0
47,663046.0,"YANO, Kanji","1077 Kamitoyoura, Azuchi cho,Gamougun, Shiga",1077 Kamitoyoura Azuchi cho Gamougun Shiga,1077,NaN,JP,1,44.0,1.0,...,143,124,211,364,497,89,1,Azuchi cho,NaN,1.0
48,668012.0,"BESSERER, Horst","Bahnhofstrasse 1,35745 Herborn",Bahnhofstrasse 1 35745 Herborn,1 35745,1,DE,1,30.0,2.0,...,30,201,1,40,156,89,1,NaN,NaN,1.0
49,669708.0,"Fayolle, Christophe","Les Raffards,42600 Precieux",Les Raffards 42600 Precieux,42600,NaN,FR,1,27.0,2.0,...,170,190,1,60,429,89,1,NaN,NaN,1.0

In [115]:
#Detailed overview
data.describe()

,person_id,chr_len,chr_len_label,nbr_tok,nbr_tok_num,has_tok_3digits,nbr_digits,rnd,rndfix,sample,...,building,street,nr,area,postal,city,region,country,status,label
count,9.990000e+02,1002.000000,1002.000000,1003.000000,999.000000,999.000000,999.000000,999.000000,999.000000,0.0,...,1004.000000,1004.000000,1004.000000,1004.000000,1004.000000,1004.000000,1004.000000,1004.000000,0.0,999.000000
mean,2.070643e+07,32.081836,2.039920,6.676969,1.128128,0.440440,3.982983,0.478745,0.184349,NaN,...,44.801793,155.331673,169.826693,32.875498,296.571713,323.772908,86.805777,1.450199,NaN,0.470470
std,2.175683e+07,26.598831,0.963055,37.723642,1.202702,0.496689,4.386022,0.289336,0.093428,NaN,...,7.320573,114.655218,54.544811,64.529105,110.566699,200.503440,27.551151,2.616100,NaN,0.499377
min,3.540000e+03,2.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000843,0.003593,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000
25%,3.854371e+06,10.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.228721,0.138662,NaN,...,45.000000,90.000000,186.750000,1.000000,238.750000,112.000000,89.000000,1.000000,NaN,0.000000
50%,9.143170e+06,29.000000,2.000000,4.000000,1.000000,0.000000,3.000000,0.475405,0.167116,NaN,...,45.000000,90.000000,190.000000,1.000000,364.000000,319.000000,89.000000,1.000000,NaN,0.000000
75%,4.806491e+07,47.000000,3.000000,7.000000,2.000000,1.000000,7.000000,0.732638,0.193692,NaN,...,45.000000,212.250000,190.000000,11.250000,364.000000,501.250000,89.000000,1.000000,NaN,1.000000
max,6.971232e+07,164.000000,3.000000,999.000000,6.000000,1.000000,19.000000,0.998636,0.690718,NaN,...,85.000000,461.000000,266.000000,245.000000,418.000000,687.000000,165.000000,23.000000,NaN,1.000000

In [116]:
#Just checkking how many are "right" and "false"
correct_address_map = {1.0: 1, 0.0: 0}
data['label'] = data['label'].map(correct_address_map)
correct_address_true_count = len(data.loc[data['label'] == True])
correct_address_false_count = len(data.loc[data['label'] == False])
(correct_address_true_count,correct_address_false_count)

(470, 529)

In [117]:
#renaming columns
from sklearn.model_selection import train_test_split
feature_columns = ['co', 'building', 'street','nr','area','postal','city','region','country']
predicted_class = ['label']

In [118]:
#renaming columns
X = data[feature_columns].values
Y = data[predicted_class].values


#renaming columns
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3) # 70% training and 30% test

In [119]:
#from sklearn.impute import SimpleImputer

#fill_values = SimpleImputer(missing_values=0, strategy="mean")

#X_train = fill_values.fit_transform(X_train)
#X_test = fill_values.fit_transform(X_test)

In [120]:
#Checking if there are no zeros values
data[feature_columns].isnull().values.any()

False

In [121]:
#Checking if there are no zeros values
data[predicted_class].isnull().values.any()

True

In [122]:
#YOU GOT TO BE FREAKING KIDDING ME
data[predicted_class]

      label
0       1.0
1       1.0
2       1.0
3       0.0
4       1.0
...     ...
999     NaN
1000    NaN
1001    NaN
1002    NaN
1003    NaN

[1004 rows x 1 columns]

In [102]:
#Import knearest neighbors Classifier model
from sklearn.neighbors import KNeighborsClassifier

#Create KNN Classifier
knn = KNeighborsClassifier(n_neighbors=5)

#Train the model using the training sets
knn.fit(X_train, y_train)

#Predict the response for test dataset
y_pred = knn.predict(X_test)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [ ]:
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))